.otw-table {
opacity: 0.95;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
}

.smic-table-bg-b {
background-image: url("/static/images2/b00.png");
background-size: contain;
background-repeat:no-repeat;
background-position:center;
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc);
behavior: url(/static/stylesheets/backgroundsize.min.htc);
}

.smic-table-bg-c {
background-image: url("/static/images2/c00.png");
background-size: contain;
background-repeat:no-repeat;
background-position:center;
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc);
behavior: url(/static/stylesheets/backgroundsize.min.htc);
}

.smic-table-bg-i {
background-image: url("/static/images2/i00.png");
background-size: contain;
background-repeat:no-repeat;
background-position:center;
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc);
behavior: url(/static/stylesheets/backgroundsize.min.htc);
}

.smic-table-bg-q {
background-image: url("/static/images2/q00.png");
background-size: contain;
background-repeat:no-repeat;
background-position:center;
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc);
behavior: url(/static/stylesheets/backgroundsize.min.htc);
}

.smic-table-bg-co {
background-image: url("/static/images2/co00.png");
background-size: contain;
background-repeat:no-repeat;
background-position:center;
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc);
behavior: url(/static/stylesheets/backgroundsize.min.htc);
}

.otw-sc-tabs .ui-tabs-panel {

}

.smic-intro-bg-scroll {
background-image: url("/static/images2/scroll.png");
background-size: cover;
background-position:center; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc); 
behavior: url(/static/stylesheets/backgroundsize.min.htc); 
}

.smic-intro-bg-0 {
background-image: url("/static/images2/bg00.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-1 {
background-image: url("/static/images2/bg01.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-2 {
background-image: url("/static/images2/bg02.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-3 {
background-image: url("/static/images2/bg03.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-4 {
background-image: url("/static/images2/bg04.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-5 {
background-image: url("/static/images2/bg05.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-6 {
background-image: url("/static/images2/bg06.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-7 {
background-image: url("/static/images2/bg07.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-8 {
background-image: url("/static/images2/bg08.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-9 {
background-image: url("/static/images2/bg09.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-10 {
background-image: url("/static/images2/bg10.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-11 {
background-image: url("/static/images2/bg11.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-12 {
background-image: url("/static/images2/bg12.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-13 {
background-image: url("/static/images2/bg13.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-14 {
background-image: url("/static/images2/bg14.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-intro-bg-15 {
background-image: url("/static/images2/bg15.png") !important;
background-size: cover !important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
}

.smic-rules-bg {
background-image: url("/static/images2/rules.png") !important;
background-size: cover!important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important;
    height: 584px;
    padding: 80px 80px 80px 80px;
}

.smic-rules-bg2 {
background-image: url("/static/images2/rules2.png") !important;
background-size: cover!important;
background-repeat:no-repeat !important;
background-position:center !important; 
-ms-behavior: url(/static/stylesheets/backgroundsize.min.htc) !important; 
behavior: url(/static/stylesheets/backgroundsize.min.htc) !important;
    color: blue
}

.smic-rules-i {
    color: #27ae60;
}

.smic-rules-c {
    color: #8e44ad;
}

.smic-rules-b {
    color: #2980b9;
}

.smic-rules-q {
    color: #2c3e50;
}

.smic-rules-co {
    color: #16a085;
}

.gauge-txt {
    width: 148px;
    height: 148px;
    line-height: 148px;
    position: absolute;
    margin-top: -148px;
    text-align: center;
    color: #9e9fa3;
    font-size: 18px;
    font-family: Arial;
}

.otw-sc-divider .dot2 {
    max-width: 200px;
}