<!doctype html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE">

  <title>S1名人堂</title>

  <!-- Allow HTML5 elements to be styled in IE8 -->
  <script type="text/javascript" src="/static/javascripts/html5shiv-printshiv.js"></script>

  <!-- Favicon -->
  <link href="/static/images/metalium.ico" rel="shortcut icon" type="image/x-icon">

  <!-- Include Google Fonts -->
  <!--link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'-->

  <!-- Include Icon Font CSS Styles -->
  <link href="/static/stylesheets/general_foundicons.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/static/stylesheets/social_foundicons.css" media="screen" rel="stylesheet" type="text/css" />

  <!-- Revolution Banner CSS Settings -->
  <link rel="stylesheet" href="/static/sliders/revolution/rs-plugin/css/settings.css"/>
  <link rel="stylesheet" href="/static/sliders/revolution-custom/settings.css"/>

  <!-- Include CSS Files -->
  <link rel="stylesheet" href="/static/stylesheets/jquery-ui-1.9.1.css">
  <link rel="stylesheet" href="/static/stylesheets/footable-0.1.css">
  <link rel="stylesheet" href="/static/stylesheets/footable.sortable-0.1.css">
  <link rel="stylesheet" href="/static/stylesheets/metallium-all.css">
  <link rel="stylesheet" href="/static/stylesheets/custom.css">
  
  <link rel="stylesheet" href="/static/skin/pink.flag/jplayer.pink.flag.css">
  <link rel="stylesheet" href="/static/skin/pink.flag/custom.css">

</head>
<body>
  <div id="page-content">
    <!-- Header -->
    <header id="top">
            <div class="otw-row otw-collapse">
                <div class="otw-six otw-columns">
                    <!-- Logo -->
                    <div id="otw-site-title">
                        <h1>Metalium</h1>
                        <a href="#"><img src="/static/images2/logo.gif" title="Metalium" alt="" /></a>
                        <div id="sublogo">中芯国际集成电路制造有限公司</div>
                    </div>
                    <!-- End Logo -->
                </div>

                <!-- Main Menu -->
                <div class="otw-eighteen otw-columns menu-wrapper">
                    <nav id="primary">
                        <ul class="otw-primary-menu hide-for-small">
                            <li>
                                <a href="/">
                  主页
                  <span class="subtitle">首页入口</span>
                </a>
                                <ul>
                                    <li>
                                        <a href="/">
                      名人堂
                      <span class="subtitle">S1名人堂</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="http://www.smics.com/chn/index.php">
                      SMIC
                      <span class="subtitle">中芯国际公司首页</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="http://s1-server09/index.aspx">
                      S1
                      <span class="subtitle">S1部门首页</span>
                    </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/top5/">
                  单项Top5
                  <span class="subtitle">S1综合排行榜</span>
                </a>
                                <ul>
                                    <li>
                                        <a href="/top5/">
                      总览
                      <span class="subtitle">各单项综合排名</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top5b/">
                      Behavior
                      <span class="subtitle">Behavior单项排名</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top5c/">
                      Capacity
                      <span class="subtitle">Capacity单项排名</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top5i/">
                      Innovation
                      <span class="subtitle">Innovation单项排名</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top5q/">
                      Quality
                      <span class="subtitle">Quality单项排名</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top5co/">
                      Cost
                      <span class="subtitle">Cost单项排名</span>
                    </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/top10/">
                  Top10
                  <span class="subtitle">工程+制造</span>
                  
                </a>
                                <ul>
                                   <li>
                                        <a href="/top10/">
                      总览
                      <span class="subtitle">Top10总览</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top10m/">
                          制造部MA-TA组
                          <span class="subtitle">制造部MA-TA组Top10</span>
                        </a>
                                    </li>
                                    <li>
                                        <a href="/top10e/">
                          工程师组
                          <span class="subtitle">工程师组Top10</span>
                        </a>
                                    </li>
                                </ul>
                                <li class="right-position">
                                    <a href="/news/">
                  其他
                  <span class="subtitle">新闻、规则介绍 </span>
                </a>
                                    <ul>
                                        <li>
                                            <a href="/news/">
                      新闻
                      <span class="subtitle">查看新闻</span>
                    </a>
                                        </li>
                                        <li>
                                            <a href="/rules/">
                      规则
                      <span class="subtitle">规则介绍</span>
                    </a>
                                        </li>
                                        <li>
                                            <a href="/login/?redir=/polls/">
                      满意度
                      <span class="subtitle">满意度调查</span>
                    </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="right-position active">
                                    <a href="/login/?redir=/me/">
                  我
                  <span class="subtitle">看看我的分数 </span>
                </a>
                                </li>
                        </ul>
                    </nav>
                </div>
                <!-- End Main Menu -->
            </div>
        </header>
    <!--End Header -->
    
    <!-- Page Title -->
    <div class="page-title-wrapper">
      <div class="otw-row">
        <div class="otw-row page-title">
          <div class="otw-eighteen otw-columns">
            <h1>我的个人信息</h1>
            <div class="subtitle"></div>
          </div>
        </div>        
      </div>
    </div>
    <!-- End Page Title -->
    
    <!-- Page Content -->
    <div class="otw-row main-content">
      <div class="otw-row">
            <div class="otw-twentyfour otw-columns">
            <div class="otw-sc-tabs">
                  {% for emp in emp_list %}
                  <div id="tabs-{{ forloop.counter }}" class="smic-intro-bg-{{ emp.totalgrade }}">
                    <div class="otw-row">
                    <div class="otw-twentyfour otw-columns">
                    <div class="otw-sc-divider text-center"><span>详细信息</span></div>
                    <div class="otw-six otw-columns">
                    <div>
                          <h4 class="widget-title">姓名：{{ emp.chinesename }}</h4>
                          <h5>员工编号：{{ emp.id }}</h5>
                          <h5>部门：{{ emp.division }}/{{ emp.depart }}</h5>
                          <h5>总分排名：{{ emp.totalrank }}</h5>
                    </div>
                    </div>
                      <div class="otw-twelve otw-columns">
                      <div class="otw-row">
                      <div class="otw-twelve otw-columns">
                          <div id="bg-b{{ forloop.counter }}"></div>
                          <div id="txt-b{{ forloop.counter }}" class="gauge-txt"></div>
                      </div>
                      <div class="otw-twelve otw-columns">
                          <div id="bg-c{{ forloop.counter }}"></div>
                          <div id="txt-c{{ forloop.counter }}" class="gauge-txt"></div>
                      </div>
                      </div>
                      <div class="otw-row">
                      <div class="otw-twelve otw-columns">
                          <div id="bg-i{{ forloop.counter }}"></div>
                          <div id="txt-i{{ forloop.counter }}" class="gauge-txt"></div>
                      </div>
                      <div class="otw-twelve otw-columns">
                          <div id="bg-q{{ forloop.counter }}"></div>
                          <div id="txt-q{{ forloop.counter }}" class="gauge-txt"></div>
                      </div>
                      </div>
                      <div class="otw-row">
                      <div class="otw-six otw-columns">
                      </div>
                      <div class="otw-twelve otw-columns">
                          <div id="bg-co{{ forloop.counter }}"></div>
                          <div id="txt-co{{ forloop.counter }}" class="gauge-txt"></div>
                      </div>
                      <div class="otw-six otw-columns">
                      </div>
                      </div>
                      </div>     
                    <div class="otw-six otw-columns">
                    <a class="image otw-sc-image-style border" href="#"><img src="/static/images2/b{{ emp.bgrade }}.png" alt=""></a>
                        <a class="image otw-sc-image-style border" href="#"><img src="/static/images2/c{{ emp.cgrade }}.png" alt=""></a>
                        <a class="image otw-sc-image-style border" href="#"><img src="/static/images2/i{{ emp.igrade }}.png" alt=""></a>
                        <a class="image otw-sc-image-style border" href="#"><img src="/static/images2/q{{ emp.qgrade }}.png" alt=""></a>
                        <a class="image otw-sc-image-style border" href="#"><img src="/static/images2/co{{ emp.cograde }}.png" alt=""></a>
                    </div>
                    </div>
                    </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
    </div>
</div>    
</div>
</div>

    <!-- End Page Content -->
    
    
    <!-- Back to top -->
    <div class="otw-row">
      <div class="otw-twentyfour otw-columns">
        <div class="otw-sc-divider scroll-top">
          <a href="#top" class="dot center">顶</a>
        </div>
      </div>
    </div>
    <!-- End Back to top -->

    <!-- Footer -->
    <footer id="page-footer">
      <!-- Widgets -->
      <div class="otw-row">
        <div class="otw-row footer-blocks">
          <!-- Recent Comments Widget -->
          <div class="otw-six otw-columns">
            <div class="otw-sc-recent-comments otw-widget-list">
              <h3 class="widget-title">中芯愿景</h3>
              <ul class="otw-list">
                <li><a href="#">成为优质、创新、值得信赖的国际一流集成电路制造企业。</a></li>
              </ul>
            </div>
          </div>
          <!-- End Recent Comments Widget -->

          <!-- Recent Comments Widget -->
          <div class="otw-twelve otw-columns">
            <div class="otw-sc-recent-comments otw-widget-list">
              <h3 class="widget-title">中芯价值观</h3>
              <ul class="otw-list">
                <li><a href="#">诚信 - 实事求是，秉承原则，坚守承诺，注重我们的每一个行为对企业和社会的影响。</a></li>
                <li><a href="#">客户服务 - 主动了解客户的期望，在遵守公司信息安全政策的前提下，努力满足客户的需求，与客户建立合作共赢的长期伙伴关系。</a></li>
                <li><a href="#">质量 - 建立全员参与、品质第一、持续改善的观念，坚守质量标准，落实到每项具体工作。</a></li>
                <li><a href="#">执行 - 流程规范、纪律严明。通过合理的计划、高效的执行、细节的跟进、问题的及时解决，确保实现目标。</a></li>
                <li><a href="#">创新 - 鼓励在产品技术研发、提高生产率和优化工作流程上持续创新、积极实践。</a></li>
                <li><a href="#">团队 - 每位同事都是中芯团队的一员。通过不同业务间的合作，理解彼此的角色和面临的挑战，发扬主人翁精神，勇于承担责任，达成公司目标。</a></li>
              </ul>
            </div>
          </div>
          <!-- End Recent Comments Widget -->

          <!-- About Us Widget -->
          <div class="otw-six otw-columns">
            <h3 class="widget-title">联系方式</h3>
            <p>
              上海市浦东新区张江路18号 
            </p>
            <p>
              中芯国际公司
            </p>
            <p>
              <a href="#"><i class="general foundicon-phone"></i> +86 (21) 3861-0000</a><br />
              <a href="#"><i class="general foundicon-inbox"></i> +86 (21) 5080 2868</a><br />
              <a href="#"><i class="general foundicon-mail"></i> office@company.com</a><br />
            </p>
            <div class="otw-sc-social-icons medium">
              <ul>
                <li><a href="#"><i class="social foundicon-rss"></i></a></li>
                <li><a href="#"><i class="social foundicon-facebook"></i></a></li>
                <li><a href="#"><i class="social foundicon-twitter"></i></a></li>
                <li><a href="#"><i class="social foundicon-pinterest"></i></a></li>
                <li><a href="#"><i class="social foundicon-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End About Us Widget -->
        </div>
      </div>
      <!-- End Widgets -->

      <div class="otw-row copyright">
        <!-- Footer Menu -->
        <div class="otw-twelve otw-columns">
          <ul id="footer-menu">
            <li><a href="#">主页</a></li>
            <li><a href="#">Top</a></li>
            <li><a href="#">S1荣耀榜</a></li>
            <li><a href="#">综合</a></li>
            <li><a href="#">规则</a></li>
          </ul>
        </div>
        <!-- End Footer Menu -->

        <!-- Copyright -->
        <div class="otw-twelve otw-columns text-right">
          &copy; 2015 All rights reserved by 中芯国际. Created by <a href="#">QY</a>.
        </div>
        <!-- End Copyright -->
      </div>
    </footer>
    <!-- End Footer -->
  </div>

  <!-- jQuery and jQuery UI -->
  <script type="text/javascript" src="/static/javascripts/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/jquery-ui-1.9.1.min.js"></script>

  <!-- jQuery Superfish Menus + HoverIntent -->
  <script type="text/javascript" src="/static/javascripts/hoverIntent.js"></script>
  <script type="text/javascript" src="/static/javascripts/superfish.js"></script>

  <!-- Responsive Tables -->
  <script type="text/javascript" src="/static/javascripts/footable-0.1.js"></script>
  <script type="text/javascript" src="/static/javascripts/footable.sortable.js"></script>

  <!-- Responsive Navigation Menu -->
  <script type="text/javascript" src="/static/javascripts/tinynav.js"></script>

  <!-- Shadow Animation Plugin -->
  <script type="text/javascript" src="/static/javascripts/jquery.animate-shadow-min.js"></script>

  <!-- Filterable Portfolio Items -->
  <script type="text/javascript" src="/static/javascripts/jquery.quicksand.js"></script>

  <!-- Custom Theme JS -->
  <script type="text/javascript" src="/static/javascripts/metalium.js"></script>

  <!-- Revolution Banner JS Files  -->
  <script type="text/javascript" src="/static/sliders/revolution/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
  <script type="text/javascript" src="/static/sliders/revolution/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

  <!-- Raphael JS Files  -->
    <script type="text/javascript" src="/static/javascripts/raphael.js"></script>
    <script type="text/javascript" src="/static/javascripts/raphael.gauge.js"></script>
    
  <!-- JPlayer JS Files  -->
    <script type="text/javascript" type="text/javascript" src="/static/javascripts/jquery.jplayer.min.js"></script>
  
  <!-- Activate Banners  -->
  <script type="text/javascript">
    var chartbar = {
    paper: null,
    init: function(idname, value, maxvalue, delaytime, color) {
        var width = 600,
        height = 18;
        this.paper = Raphael(idname, width, height);
        var path = [["M", 0, height/2], ["L", 0, height/2]],
            path2 = [["M", 0, height/2], ["L", width*value/maxvalue, height/2]];
        var bar = this.paper.path(path)
            .attr({
                "stroke-width": height,
                "stroke": color,
                "stroke-opacity": 0.8
            });
        var anim = Raphael.animation({path:path2}, 3000, "bounce");
        bar.animate(anim.delay(delaytime));
        }
   };

    var gaugebar = {
        paper: null,
        init: function(idname, value, maxvalue, color, pretxt) {
            this.paper = Raphael("bg-"+idname, 148, 148);
            this.paper.image("/static/images2/progressBg.png", 0, 0, 148, 148);            
            var R = 57, cr = 74;
            this.paper.customAttributes.arc = function (value, total, R) {
                    var alpha = 360 / total * value,
                        a = (90 - alpha) * Math.PI / 180,
                        x = cr + R * Math.cos(a),
                        y = cr - R * Math.sin(a),
                        path;
                    if (total == value) {
                        path = [["M", cr, cr - R], ["A", R, R, 0, 1, 1, cr-0.01, cr - R]];
                    } else {
                        path = [["M", cr, cr - R], ["A", R, R, 0, +(alpha > 180), 1, x, y]];
                    }
                    return {path: path};
                };
            if(value > 0) {
            var gauge = this.paper.path().attr({arc: [0, maxvalue, R]})
                .attr({
                    "stroke-width": 10,
                    "stroke": color,
                    "stroke-opacity": 0.5
                });
            var anim = Raphael.animation({arc: [value, maxvalue, R]}, 3000, "bounce");
            gauge.animate(anim.delay(1000));
            }
            $("#txt-"+idname).text(pretxt + value);
        }
    };
    $(document).ready(function(){
        $( "#tabs" ).tabs({
          event: "mouseover",
        }).mouseover(function () {
        });
        
        
        {% for emp in emp_list %}
        gaugebar.init("b{{ forloop.counter }}", {{ emp.bscore }}, {{ b_max }}, "#2980b9", "Behavior: ");
        gaugebar.init("c{{ forloop.counter }}", {{ emp.cscore }}, {{ c_max }}, "#8e44ad", "Capacity: ");
        gaugebar.init("i{{ forloop.counter }}", {{ emp.iscore }}, {{ i_max }}, "#27ae60", "Innovation: ");
        gaugebar.init("q{{ forloop.counter }}", {{ emp.qscore }}, {{ q_max }}, "#2c3e50", "Quality: ");
        gaugebar.init("co{{ forloop.counter }}", {{ emp.coscore }}, {{ co_max }}, "#16a085", "Cost: ");
        {% endfor %}
    });
  </script>

</body>
</html>