<!doctype html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE">

    <title>S1名人堂</title>

    <!-- Allow HTML5 elements to be styled in IE8 -->
    <script type="text/javascript" src="/static/javascripts/html5shiv-printshiv.js"></script>
    <!-- Favicon -->
    <link href="/static/images/metalium.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Include Icon Font CSS Styles -->
    <link href="/static/stylesheets/general_foundicons.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/social_foundicons.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- Revolution Banner CSS Settings -->
    <link rel="stylesheet" href="/static/sliders/revolution/rs-plugin/css/settings.css" />
    <link rel="stylesheet" href="/static/sliders/revolution-custom/settings.css" />
    <!-- Include CSS Files -->
    <link rel="stylesheet" href="/static/stylesheets/jquery-ui-1.9.1.css">
    <link rel="stylesheet" href="/static/stylesheets/footable-0.1.css">
    <link rel="stylesheet" href="/static/stylesheets/footable.sortable-0.1.css">
    <link rel="stylesheet" href="/static/stylesheets/metallium-all.css">
    <link rel="stylesheet" href="/static/skin/pink.flag/jplayer.pink.flag.css">
    <link rel="stylesheet" href="/static/skin/pink.flag/custom.css">
</head>

<body>
    <div id="page-content">
        <!-- Header -->
        <header id="top">
            <div class="otw-row otw-collapse">
                <div class="otw-six otw-columns">
                    <!-- Logo -->
                    <div id="otw-site-title">
                        <h1>Metalium</h1>
                        <a href="#"><img src="/static/images2/logo.gif" title="Metalium" alt="" /></a>
                        <div id="sublogo">中芯国际集成电路制造有限公司</div>
                    </div>
                    <!-- End Logo -->
                </div>

                <!-- Main Menu -->
                <div class="otw-eighteen otw-columns menu-wrapper">
                    <nav id="primary">
                        <ul class="otw-primary-menu hide-for-small">
                            <li class="active">
                                <a href="/">
                  主页
                  <span class="subtitle">首页入口</span>
                </a>
                                <ul>
                                    <li>
                                        <a href="/">
                      名人堂
                      <span class="subtitle">S1名人堂</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="http://www.smics.com/chn/index.php">
                      SMIC
                      <span class="subtitle">中芯国际公司首页</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="http://s1-server09/index.aspx">
                      S1
                      <span class="subtitle">S1部门首页</span>
                    </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/top5/">
                  单项Top5
                  <span class="subtitle">S1综合排行榜</span>
                </a>
                                <ul>
                                    <li>
                                        <a href="/top5/">
                      总览
                      <span class="subtitle">各单项综合排名</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top5b/">
                      Behavior
                      <span class="subtitle">Behavior单项排名</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top5c/">
                      Capacity
                      <span class="subtitle">Capacity单项排名</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top5i/">
                      Innovation
                      <span class="subtitle">Innovation单项排名</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top5q/">
                      Quality
                      <span class="subtitle">Quality单项排名</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top5co/">
                      Cost
                      <span class="subtitle">Cost单项排名</span>
                    </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/top10/">
                  Top10
                  <span class="subtitle">工程+制造</span>

                </a>
                                <ul>
                                   <li>
                                        <a href="/top10/">
                      总览
                      <span class="subtitle">Top10总览</span>
                    </a>
                                    </li>
                                    <li>
                                        <a href="/top10m/">
                          制造部MA-TA组
                          <span class="subtitle">制造部MA-TA组Top10</span>
                        </a>
                                    </li>
                                    <li>
                                        <a href="/top10e/">
                          工程师组
                          <span class="subtitle">工程师组Top10</span>
                        </a>
                                    </li>
                                </ul>
                                <li class="right-position">
                                    <a href="/news/">
                  其他
                  <span class="subtitle">新闻、规则介绍 </span>
                </a>
                                    <ul>
                                        <li>
                                            <a href="/news/">
                      新闻
                      <span class="subtitle">查看新闻</span>
                    </a>
                                        </li>
                                        <li>
                                            <a href="/rules/">
                      规则
                      <span class="subtitle">规则介绍</span>
                    </a>
                                        </li>
                                        <li>
                                            <a href="/login/?redir=/polls/">
                      满意度
                      <span class="subtitle">满意度调查</span>
                    </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="right-position">
                                    <a href="/login/?redir=/me/">
                  我
                  <span class="subtitle">看看我的分数 </span>
                </a>
                                </li>
                        </ul>
                    </nav>
                </div>
                <!-- End Main Menu -->
            </div>
        </header>
        <!--End Header -->

        <!-- Revolution Slider -->
        <div class="page-title-wrapper">
            <div class="slider-area">
                <div class="fullwidthbanner-container">
                    <div class="fullwidthabnner tp-simpleresponsive revolution-4">
                        <ul>

                            <!-- VIDEO SLIDEUP -->
                            <li data-transition="slideup" data-slotamount="20">
                                <img src="/static/images/slides/slide-bgr-transp.png">
                                <div class="caption lfb boxshadow" data-x="10" data-y="30" data-speed="900" data-start="500" data-easing="easeOutBack">
                                    <div id="jp_container_1" class="jp-video center-block" role="application" aria-label="media player">
                                        <div class="jp-type-single">
                                            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                                            <div class="jp-no-solution">
                                                <span>更新提示</span> 为了保证浏览效果，您需要更新您的浏览器或者 <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash插件</a>了。
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption sft very_big_white_on_red" data-x="640" data-y="60" data-speed="300" data-start="1200" data-easing="easeOutExpo">S1名人堂</div>
                                <div class="caption sft medium_grey_on_white" data-x="640" data-y="129" data-speed="300" data-start="1300" data-easing="easeOutExpo">一个英雄辈出的地方</div>
                                <div class="caption lfb medium_text" data-x="640" data-y="200" data-speed="300" data-start="1400" data-easing="easeOutExpo">在我们的身边，有着无数英雄的传说</div>
                                <div class="caption lfb medium_text" data-x="640" data-y="222" data-speed="300" data-start="1500" data-easing="easeOutExpo">只需要有一双发现的眼睛</div>
                                <div class="caption lfb no_shaddow" data-x="640" data-y="265" data-speed="1500" data-start="1600" data-easing="easeOutBack"><a href="/" class="button radius">刷新首页</a></div>
                            </li>

                            <!-- CURTAIN 1 -->
                            <li data-transition="curtain-3" data-slotamount="20" data-delay="8000">
                                <img src="/static/images/slides/slide-bgr-transp.png">
                                <div class="caption lfr" data-x="490" data-y="40" data-speed="900" data-start="900" data-easing="easeOutBack"><img src="/static/images2/c1i2.png"></div>
                                <div class="caption lfl" data-x="380" data-y="100" data-speed="1000" data-start="1100" data-easing="easeOutBack"><img src="/static/images2/c1i1.jpg"></div>
                                <div class="caption lfb big_white" data-x="59" data-y="50" data-speed="900" data-start="1700" data-easing="easeOutBack">Top5 <span class="light">单项</span></div>
                                <div class="caption lft large_light_text" data-x="65" data-y="125" data-speed="900" data-start="1900" data-easing="easeOutBack">S1综合排行榜</div>
                                <div class="caption lfr medium_text" data-x="65" data-y="180" data-speed="800" data-start="2500" data-easing="easeOutExpo">在整个S1中</div>
                                <div class="caption lfr medium_text" data-x="65" data-y="207" data-speed="1000" data-start="2500" data-easing="easeOutExpo">单项指标排名前五</div>
                                <div class="caption lfb no_shaddow" data-x="65" data-y="260" data-speed="1500" data-start="2800" data-easing="easeOutBack"><a href="/top5/" class="button radius">现在就查看</a></div>
                            </li>

                            <!-- CURTAIN 2 -->
                            <li data-transition="slidedown" data-slotamount="1" data-delay="8000">
                                <img src="/static/images/slides/slide-bgr-transp.png">
                                <div class="caption lft" data-x="60" data-y="40" data-speed="900" data-start="1300" data-easing="easeOutBack"><img src="/static/images2/c2i1.png"></div>
                                <div class="caption lfb big_white" data-x="400" data-y="55" data-speed="900" data-start="1700" data-easing="easeOutBack">Top10 <span class="light">十佳</span></div>
                                <div class="caption lft large_light_text" data-x="400" data-y="125" data-speed="900" data-start="1900" data-easing="easeOutBack">制造部 + 工程部</div>
                                <div class="caption lfb medium_text" data-x="400" data-y="180" data-speed="1200" data-start="2400" data-easing="easeOutExpo">综合实力突出</div>
                                <div class="caption lfb medium_text" data-x="400" data-y="207" data-speed="900" data-start="2550" data-easing="easeOutExpo">各方面表现俱佳</div>
                                <div class="caption lfr no_shaddow" data-x="400" data-y="255" data-speed="1400" data-start="2800" data-easing="easeOutBack"><a href="/top10/" class="button radius">现在就查看</a></div>
                            </li>

                            <!-- CURTAIN 3 -->
                            <li data-transition="slideleft" data-slotamount="10" data-delay="8000">
                                <img src="/static/images/slides/slide-bgr-transp.png">
                                <div class="caption sfr" data-x="550" data-y="55" data-speed="900" data-start="800" data-easing="easeOutBack"><img src="/static/images2/c3i1.png"></div>
                                <div class="caption lft" data-x="450" data-y="118" data-speed="1200" data-start="1300" data-easing="easeOutBack"><img src="/static/images2/c3i2.png"></div>
                                <div class="caption lfb big_white" data-x="59" data-y="60" data-speed="900" data-start="1700" data-easing="easeOutBack">看一看 <span class="light">有何新鲜事？</span></div>
                                <div class="caption lft large_light_text" data-x="65" data-y="135" data-speed="900" data-start="1900" data-easing="easeOutBack">新闻、规则介绍</div>
                                <div class="caption lfr medium_text" data-x="65" data-y="180" data-speed="600" data-start="2500" data-easing="easeOutExpo">这里可以看到名人堂的各种要闻</div>
                                <div class="caption lfr medium_text" data-x="65" data-y="207" data-speed="400" data-start="2500" data-easing="easeOutExpo">这里可以查清许多问题</div>
                                <div class="caption lfb no_shaddow" data-x="65" data-y="260" data-speed="1500" data-start="2800" data-easing="easeOutBack"><a href="/news/" class="button radius">现在就查看</a></div>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Revolution Slider -->

        <!-- Page Content -->
        <div class="otw-row main-content">
            <div class="otw-row">
                <div class="otw-twentyfour otw-columns otw-content-section">

                    <!-- Portfolio 4 otw-columns -->
                    <div class="otw-row">
                        <div class="otw-twentyfour otw-columns">
                            <div class="otw-row otw-sc-portfolio">
                                <div class="otw-twentyfour otw-columns">
                                    <div class="otw-sc-divider text-center">
                                        <span>HOF简介</span>
                                    </div>
                                </div>

                                <div class="otw-twentyfour otw-columns">

                                    <!-- Portfolio Items -->
                                    <ul class="otw-portfolio otw-portfolio-working block-grid four-up mobile">
                                        <li data-id="1" data-type="css html">
                                            <article class="otw-portfolio-item">
                                                <a class="otw-portfolio-item-link" href="#">
                                                    <div class="image">
                                                        <img src="/static/images2/intro1.jpg" alt="">
                                                    </div>
                                                    <div class="title">
                                                        <h3>14</h3>
                                                    </div>
                                                    <div class="text">
                                                        <p>SMIC S1从2000年建厂，已经有14年了 </p>
                                                    </div>
                                                </a>
                                            </article>
                                        </li>
                                        <li data-id="2" data-type="css">
                                            <article class="otw-portfolio-item">
                                                <a class="otw-portfolio-item-link" href="#">
                                                    <div class="image">
                                                        <img src="/static/images2/intro2.jpg" alt="">
                                                    </div>
                                                    <div class="title">
                                                        <h3>8000</h3>
                                                    </div>
                                                    <div class="text">
                                                        <p>从0到了目前的8000名同仁 </p>
                                                    </div>
                                                </a>
                                            </article>
                                        </li>
                                        <li data-id="3" data-type="html psd">
                                            <article class="otw-portfolio-item">
                                                <a class="otw-portfolio-item-link" href="#">
                                                    <div class="image">
                                                        <img src="/static/images2/intro3.jpg" alt="">
                                                    </div>
                                                    <div class="title">
                                                        <h3>英雄</h3>
                                                    </div>
                                                    <div class="text">
                                                        <p>时势造英雄，S1拥有众多赫赫战功的英豪 </p>
                                                    </div>
                                                </a>
                                            </article>
                                        </li>
                                        <li data-id="4" data-type="video">
                                            <article class="otw-portfolio-item">
                                                <a class="otw-portfolio-item-link" href="#">
                                                    <div class="image">
                                                        <img src="/static/images2/intro4.jpg" alt="">
                                                    </div>
                                                    <div class="title">
                                                        <h3>名人堂</h3>
                                                    </div>
                                                    <div class="text">
                                                        <p>将他们的卓越功勋做出统计排名，展示各路高手傲人风采 </p>
                                                    </div>
                                                </a>
                                            </article>
                                        </li>
                                    </ul>
                                    <!-- End Portfolio Items -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Portfolio 4 otw-columns -->

                    <div class="otw-row">
                        <div class="otw-twentyfour otw-columns">
                            <div class="otw-sc-portfolio">
                                <div class="otw-sc-divider text-center">
                                    <span>今日风采展示</span>
                                </div>
                                <ul class="block-grid mobile-three-up five-up">
                                    {% for emp in e_list %}
                                      <li>
                                        <article class="otw-portfolio-item">
                                            <a class="otw-portfolio-item-link" href="#">
                                                <div class="image">
                                                    <img src="/static/upload/images/{{ emp.id }}.jpg" alt="">
                                                </div>
                                                <div class="title">
                                                    <h3>{{ emp.chinesename }}</h3>
                                                </div>
                                                <div class="text">
                                                    <p>{{ emp.division }}/{{ emp.depart }} </p>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Content -->

        <!-- Back to top -->
        <div class="otw-row">
            <div class="otw-twentyfour otw-columns">
                <div class="otw-sc-divider scroll-top">
                    <a href="#top" class="dot center">顶</a>
                </div>
            </div>
        </div>
        <!-- End Back to top -->

        <!-- Footer -->
        <footer id="page-footer">
            <!-- Widgets -->
            <div class="otw-row">
                <div class="otw-row footer-blocks">
                    <!-- Recent Comments Widget -->
                    <div class="otw-six otw-columns">
                        <div class="otw-sc-recent-comments otw-widget-list">
                            <h3 class="widget-title">中芯愿景</h3>
                            <ul class="otw-list">
                                <li><a href="#">成为优质、创新、值得信赖的国际一流集成电路制造企业。</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Recent Comments Widget -->

                    <!-- Recent Comments Widget -->
                    <div class="otw-twelve otw-columns">
                        <div class="otw-sc-recent-comments otw-widget-list">
                            <h3 class="widget-title">中芯价值观</h3>
                            <ul class="otw-list">
                                <li><a href="#">诚信 - 实事求是，秉承原则，坚守承诺，注重我们的每一个行为对企业和社会的影响。</a></li>
                                <li><a href="#">客户服务 - 主动了解客户的期望，在遵守公司信息安全政策的前提下，努力满足客户的需求，与客户建立合作共赢的长期伙伴关系。</a></li>
                                <li><a href="#">质量 - 建立全员参与、品质第一、持续改善的观念，坚守质量标准，落实到每项具体工作。</a></li>
                                <li><a href="#">执行 - 流程规范、纪律严明。通过合理的计划、高效的执行、细节的跟进、问题的及时解决，确保实现目标。</a></li>
                                <li><a href="#">创新 - 鼓励在产品技术研发、提高生产率和优化工作流程上持续创新、积极实践。</a></li>
                                <li><a href="#">团队 - 每位同事都是中芯团队的一员。通过不同业务间的合作，理解彼此的角色和面临的挑战，发扬主人翁精神，勇于承担责任，达成公司目标。</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Recent Comments Widget -->

                    <!-- About Us Widget -->
                    <div class="otw-six otw-columns">
                        <h3 class="widget-title">联系方式</h3>
                        <p>
                            上海市浦东新区张江路18号
                        </p>
                        <p>
                            中芯国际公司
                        </p>
                        <p>
                            <a href="#"><i class="general foundicon-phone"></i> +86 (21) 3861-0000</a>
                            <br />
                            <a href="#"><i class="general foundicon-inbox"></i> +86 (21) 5080 2868</a>
                            <br />
                            <a href="#"><i class="general foundicon-mail"></i> office@company.com</a>
                            <br />
                        </p>
                        <div class="otw-sc-social-icons medium">
                            <ul>
                                <li><a href="#"><i class="social foundicon-rss"></i></a></li>
                                <li><a href="#"><i class="social foundicon-facebook"></i></a></li>
                                <li><a href="#"><i class="social foundicon-twitter"></i></a></li>
                                <li><a href="#"><i class="social foundicon-pinterest"></i></a></li>
                                <li><a href="#"><i class="social foundicon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End About Us Widget -->
                </div>
            </div>
            <!-- End Widgets -->

            <div class="otw-row copyright">
                <!-- Footer Menu -->
                <div class="otw-eight otw-columns">
                    <ul id="footer-menu">
                        <li><a href="#">主页</a></li>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">S1荣耀榜</a></li>
                        <li><a href="#">综合</a></li>
                        <li><a href="#">规则</a></li>
                    </ul>
                </div>
                <!-- End Footer Menu -->

               <div class="otw-eight otw-columns">
               访问量已达 <b>{{ visit_count }}</b> 次
                </div>
                <!-- Copyright -->
                <div class="otw-eight otw-columns text-right">
                    &copy; 2015 All rights reserved by 中芯国际. Created by <a href="#">QY</a>.
                </div>
                <!-- End Copyright -->
            </div>
        </footer>
        <!-- End Footer -->
    </div>

    <!-- jQuery and jQuery UI -->
    <script type="text/javascript" src="/static/javascripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/jquery-ui-1.9.1.min.js"></script>

    <!-- jQuery Superfish Menus + HoverIntent -->
    <script type="text/javascript" src="/static/javascripts/hoverIntent.js"></script>
    <script type="text/javascript" src="/static/javascripts/superfish.js"></script>

    <!-- Responsive Tables -->
    <script type="text/javascript" src="/static/javascripts/footable-0.1.js"></script>
    <script type="text/javascript" src="/static/javascripts/footable.sortable.js"></script>

    <!-- Responsive Navigation Menu -->
    <script type="text/javascript" src="/static/javascripts/tinynav.js"></script>

    <!-- Shadow Animation Plugin -->
    <script type="text/javascript" src="/static/javascripts/jquery.animate-shadow-min.js"></script>

    <!-- Filterable Portfolio Items -->
    <script type="text/javascript" src="/static/javascripts/jquery.quicksand.js"></script>

    <!-- Custom Theme JS -->
    <script type="text/javascript" src="/static/javascripts/metalium.js"></script>

    <!-- Revolution Banner JS Files  -->
    <script type="text/javascript" src="/static/sliders/revolution/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/static/sliders/revolution/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Raphael JS Files  -->
    <script type="text/javascript" src="/static/javascripts/raphael.js"></script>
    <script type="text/javascript" src="/static/javascripts/raphael.gauge.js"></script>

    <!-- JPlayer JS Files  -->
    <script type="text/javascript" type="text/javascript" src="/static/javascripts/jquery.jplayer.min.js"></script>

  <!-- ie-truth Files  -->
   <script type="text/javascript" src="/static/javascripts/ie-truth.min.js"></script>

    <!-- Activate Banners  -->
    <script type="text/javascript">
        $(document).ready(function () {
            //var IE = IeVersion();
            //if(IE.CompatibilityMode) {
                //alert("请关闭兼容模式以获得最佳的浏览效果。点击菜单：“工具”->“兼容性视图”。");
            //}


            $('.revolution-4').revolution({
                delay: 9000,
                startheight: 460,
                startwidth: 940,
                hideThumbs: 200,
                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 5,
                navigationType: "bullet",
                navigationArrows: "verticalcentered",
                navigationStyle: "round",
                touchenabled: "on",
                onHoverStop: "on",
                navOffsetHorizontal: 0,
                navOffsetVertical: 20,
                shadow: 0,
                fullWidth: "on"
            });

            //播放视频
            $("#jquery_jplayer_1").jPlayer({
                ready: function () {
                    $(this).jPlayer("setMedia", {
                        title: "Hall of Fame",
                        m4v: "/static/images2/war.mp4",
                        poster: "/static/images2/post.jpg"
                    }).jPlayer("play");
                },
                cssSelectorAncestor: "#jp_container_1",
                swfPath: "js",
                supplied: "m4v",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                remainingDuration: true,
                toggleDuration: true,
                loop: true,
                size: {
                    width: "640px",
                    height: "360px",
                }
            });
        });
    </script>

</body>

</html>
